<div class="row">
  <div class="col">
    <table class="table" >
      <thead>
        <tr>
          <th>Data</th>
          <th>Tipo</th>
          <th>Descrição</th>
          <th>Valor</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        {{#each expenses}}
          <tr>
            <td>{{this.day}}/{{this.mounth}}/{{this.year}}</td>
            <td>{{this.type}}</td>
            <td>{{this.description}}</td>
            <td>{{this.value}}</td>
          </tr>
        {{/each}}
      </tbody> 
    </table>
  </div>
</div>